<div style="text-align:center">
  <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
  <form>
    <label for="name">Enter your name: </label>
    <input [(ngModel)]="userName" type="text" name="user">
  </form>
  <h2>Welcome, {{userName}}!</h2>
</div>
<h3>{{currentFocus}}</h3>
<app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>
<hr>

<div *ngIf="selectedTask">
  <h4>{{selectedTask.description}}</h4>
  <p>Task Complete? {{selectedTask.done}}</p>
  <h4>Edit Task</h4>
  <label>Enter Task Description</label>
  <input [(ngModel)]="selectedTask.description">
  <br>
  <label>Enter Task Priority (1-3):</label>
  <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" [value]="1">1 (Low Priority) <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" [value]="2">2 (Medium Priority) <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" [value]="3">3 (High Priority) <br>
  <button (click)="finishedEditing()">Done</button>
</div>
